#primerdiv{
    background-color: antiquewhite;
    flex: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

#titulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: antiquewhite;
}

button{
    background-color: #fff;
}

button:hover{
    background-color: #000;
    color: #fff;
}

#listacontenido{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 100px;
}
#lista_boton_seleccion, #lista_boton_cruce, #lista_boton_mutacion{
    text-decoration: none;
    list-style-type: none;
    
}


@media screen and (min-width: 300px) and (max-width:1000px) {
    #primerdiv {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #titulo {
        font-size: 24px; 
    }

    #lista_boton_seleccion, #lista_boton_cruce, #lista_boton_mutacion {
        width: 60%; 
    }
}

@media screen and (min-width: 750px) and (max-width:1400px) {
    #primerdiv {
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
    }

    #titulo {
        font-size: 30px; 
    }

    #lista_boton_seleccion, #lista_boton_cruce, #lista_boton_mutacion {
        width: 20%; 
    }
}